In [45]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
!pwd

/home/dsc/Amadeus

In [5]:
!ls

Amadeus.ipynb  bookings.csv  bookings.csv.bz2  searches.csv  searches.csv.bz2

In [17]:
!bzcat ./bookings.csv.bz2 | head -10000> bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ./bookings.csv.bz2, output file = (stdout)

In [7]:
!ls

Amadeus.ipynb  bookings.csv.bz2     bookings.sample.csv.bz2  searches.csv.bz2
bookings.csv   bookings.sample.csv  searches.csv

In [8]:
!bzip2 -f bookings.sample.csv

In [12]:
!bzcat ./bookings.sample.csv.bz2 | wc -l

10000

In [14]:
!bzcat ./bookings.csv.bz2 | wc -l

10000011

### 2a) ptyhon without compressing

In [34]:
import bz2

In [39]:
fileBz2 = bz2.BZ2File('./bookings.sample.csv.bz2')

In [40]:
k= 0 
for line in fileBz2:
    k+=1 
print "%s has %d lines" (fileBz2,k)

TypeError: 'str' object is not callable

###  2b) Python on row uncompressed file

In [18]:
!ls

Amadeus.ipynb  bookings.csv.bz2     bookings.sample.csv.bz2  searches.csv.bz2
bookings.csv   bookings.sample.csv  searches.csv

In [19]:
filename = 'bookings.sample.csv'
with open(filename, "read") as file_input:
    k=0
    for line in file_input:
        k+=1
print "%s has %d lines" %(filename,k)

bookings.sample.csv has 10000 lines

In [23]:
with open(filename, "read") as file_input:
        enumerate(file_input)

In [25]:
file = open(filename,"read")

In [30]:
filename = 'bookings.sample.csv'
with open(filename, "read") as file_input:
    for k, line in enumerate(file_input):
        pass
print "%s has %d lines  %s is line"%(filename,k+1,line)

bookings.sample.csv has 10000 lines  2013-03-12 00:00:00^1A    ^DE      ^30371685b6bbf50642bc61117b5bcd1e^765e7d5c49dbeef4e7328e2ccdb1a264^a5fc7cb94405363668f0d9b2124ec248^2013-03-11 00:00:00^18179^0^FRA     ^FRA     ^DE      ^SGN     ^SGN     ^VN      ^FRA     ^FRA     ^DE      ^DAD     ^DAD     ^VN      ^SGN     ^SGN     ^VN      ^DADSGN  ^DADSGN  ^VNVN    ^0^DADSGN      ^GX^B        ^Y        ^2013-11-29 11:15:00^2013-11-29 12:45:39^2^2013^3^NULL
 is line

### 4) Did he mean each csv file? Find file size for all csv fiels in the path.. Usse glob library

In [42]:
import glob

In [43]:
print glob.glob ("*")

['bookings.sample.csv.bz2', 'searches.csv', 'searches.csv.bz2', 'Amadeus.ipynb', 'bookings.sample.csv', 'bookings.csv.bz2', 'bookings.csv']

In [44]:
ls -l

total 6283752
-rw-rw-r--. 1 dsc dsc       8226 May  6 18:01 Amadeus.ipynb
-rw-rw-r--. 1 dsc dsc 2965595405 May  6 16:49 bookings.csv
-rw-rw-r--. 1 dsc dsc  554970628 May  6 16:33 bookings.csv.bz2
-rw-rw-r--. 1 dsc dsc    4232732 May  6 17:37 bookings.sample.csv
-rw-rw-r--. 1 dsc dsc     535893 May  6 17:26 bookings.sample.csv.bz2
-rw-rw-r--. 1 dsc dsc 2425958400 May  6 16:50 searches.csv
-rw-rw-r--. 1 dsc dsc  483188920 May  6 16:32 searches.csv.bz2

# TOP 10 ARRIVAL AIRPORTS IN THE WORLD IN 2013

In [50]:
pd_book = pd.read_csv('bookings.sample.csv', delimiter = '^')

In [56]:
!pwd

/home/dsc/Amadeus

In [62]:
path = '/home/dsc/Amadeus'
file_name = 'bookings.sample.csv.bz2'
filepath = path+ '/' + file_name

In [52]:
pd_book.columns

Index([u'act_date           ', u'source', u'pos_ctry', u'pos_iata',
       u'pos_oid  ', u'rloc          ', u'cre_date           ', u'duration',
       u'distance', u'dep_port', u'dep_city', u'dep_ctry', u'arr_port',
       u'arr_city', u'arr_ctry', u'lst_port', u'lst_city', u'lst_ctry',
       u'brd_port', u'brd_city', u'brd_ctry', u'off_port', u'off_city',
       u'off_ctry', u'mkt_port', u'mkt_city', u'mkt_ctry', u'intl',
       u'route          ', u'carrier', u'bkg_class', u'cab_class',
       u'brd_time           ', u'off_time           ', u'pax', u'year',
       u'month', u'oid      '],
      dtype='object')

In [66]:
pd.set_option('display.max_columns', None)

In [68]:
pd_book.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [69]:
pd_book.describe(include ='all')

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
count,9999,9999,9999,9999,9999,9999,9999,9999.000000,9999.000000,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999.000000,9999,9999,9999,9999,9999,9999,9999.000000,9999,9999,9999
unique,31,5,112,2089,2271,3638,140,NaN,NaN,581,554,127,663,634,152,581,550,126,770,732,162,781,744,162,3395,3223,926,NaN,6079,179,27,4,6416,7218,NaN,NaN,NaN,389
top,2013-03-12 00:00:00,1A,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,ae15bcfc5aec0eb64b2c5204d08201d5,2013-03-12 00:00:00,NaN,NaN,LAX,NYC,US,LHR,NYC,US,LAX,NYC,US,LAX,NYC,US,LAX,NYC,US,JEDKHI,JEDKHI,USUS,NaN,KHIJED,NV,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,NaN,NaN,NaN,NULL
freq,768,3200,4839,435,435,42,1018,NaN,NaN,273,507,4600,212,391,3738,281,502,4559,228,435,4118,247,460,4170,52,52,3074,NaN,26,1354,851,8979,21,21,NaN,NaN,NaN,8427
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20209.746075,455.608861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.596260,NaN,NaN,NaN,NaN,NaN,NaN,0.516152,2013,3,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42243.233482,1738.891068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.490671,NaN,NaN,NaN,NaN,NaN,NaN,1.783970,0,0,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-25.000000,2013,3,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3339.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,2013,3,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7721.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2013,3,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19077.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2013,3,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,488131.000000,18481.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,2013,3,NaN

In [63]:
pd_book.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 3.0+ MB

In [65]:
pd_book.columns.tolist()

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [73]:
pd_book.dtypes

act_date               object
source                 object
pos_ctry               object
pos_iata               object
pos_oid                object
rloc                   object
cre_date               object
duration                int64
distance                int64
dep_port               object
dep_city               object
dep_ctry               object
arr_port               object
arr_city               object
arr_ctry               object
lst_port               object
lst_city               object
lst_ctry               object
brd_port               object
brd_city               object
brd_ctry               object
off_port               object
off_city               object
off_ctry               object
mkt_port               object
mkt_city               object
mkt_ctry               object
intl                    int64
route                  object
carrier                object
bkg_class              object
cab_class              object
brd_time               object
off_time               object
pax                     int64
year                    int64
month                   int64
oid                    object
dtype: object

## 2 . select columns of interest

In [76]:
path = '/home/dsc/Amadeus'
file_name = 'bookings.csv.bz2'
filepath = path+ '/' + file_name

In [78]:
b = pd.read_csv(filepath, sep="^", usecols=['arr_port','pax','year'], nrows = 100000)

In [80]:
b.shape

(100000, 3)

### 3. what to do with Nan?

###### in the sample everthing might be ok, but we should preparer fot NaN case

In [81]:
b=b.dropna()

In [85]:
b.dtypes

arr_port    object
pax          int64
year         int64
dtype: object

In [ ]:
# guarrera ma

In [101]:
b[b['year'] == 2013]

       arr_port  pax  year
0      LHR        -1  2013
1      CLT         1  2013
2      CLT         1  2013
3      SVO         1  2013
4      SVO         1  2013
5      LGA         1  2013
6      LGA         1  2013
7      SIN         2  2013
8      SIN         2  2013
9      SIN         2  2013
10     SIN         2  2013
11     SIN        -2  2013
12     SIN        -2  2013
13     SIN        -2  2013
14     SIN        -2  2013
15     SIN         1  2013
16     SIN         1  2013
17     SIN         1  2013
18     SIN         1  2013
19     TUS         1  2013
20     CTA        -2  2013
21     CTA         2  2013
22     YWG         2  2013
23     YWG         2  2013
24     YWG        -2  2013
25     YWG         2  2013
26     YWG         2  2013
27     YWG        -2  2013
28     YWG        -2  2013
29     YWG         2  2013
...         ...  ...   ...
99970  SYD         1  2013
99971  SYD        -1  2013
99972  SYD         1  2013
99973  LOS         1  2013
99974  MCT         1  2013
99975  MCT        -1  2013
99976  BEG         1  2013
99977  BEG         1  2013
99978  SGN         1  2013
99979  SJJ         1  2013
99980  SJJ         1  2013
99981  LHR         7  2013
99982  LHR         7  2013
99983  LHR        -7  2013
99984  LHR        -7  2013
99985  DXB         1  2013
99986  DXB         1  2013
99987  BKK         1  2013
99988  BKK         1  2013
99989  BOG         1  2013
99990  BOG         1  2013
99991  BOG        -1  2013
99992  BOG         1  2013
99993  DEL        -2  2013
99994  DEL        -2  2013
99995  IXL         2  2013
99996  IXL        -2  2013
99997  IXL        -2  2013
99998  CPT         2  2013
99999  CPT         2  2013

[100000 rows x 3 columns]

In [103]:
b_air = b[b['year'] == 2013].groupby('arr_port')

In [112]:
b_air2 = b_air(columns =['arr_port','pax'])

TypeError: 'DataFrameGroupBy' object is not callable

In [ ]:
b=b[b['year'] == 2013]

In [ ]:
#seguimos.

In [115]:
b.drop('year', axis=1, inplace = True)

In [125]:
b.groupby('arr_port').sum().sort(columns='pax', ascending = False)

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

           pax
arr_port
LHR       1006
MCO        861
JFK        795
LAX        761
BKK        747
LAS        732
SFO        705
ORD        686
CDG        676
DXB        587
MIA        585
EWR        539
DFW        514
ATL        498
IST        497
FCO        479
LGA        472
CUN        447
FLL        435
DEN        403
HKG        400
BOS        387
DCA        381
PHX        377
PEK        375
SEA        363
BOM        361
MAD        356
HNL        352
MUC        344
...        ...
EZS         -2
URY         -2
IXL         -2
XUZ         -2
YAY         -2
HDS         -2
MAO         -3
IGU         -3
HMB         -3
ASU         -3
JHB         -3
ASR         -4
XMB         -4
RFP         -4
LDH         -4
FSC         -5
BOB         -5
STS         -6
KSN         -6
LGK         -6
KLU         -6
RAR         -8
PRI         -8
BEL         -8
MOZ        -14
RIX        -21
LXR        -30
DBV        -30
KZN        -45
AYQ       -146

[1506 rows x 1 columns]

In [126]:
#otra manera

In [127]:
arr_ports = b.groupby('arr_port')

In [131]:
for i, (airport, val) in enumerate(arr_ports):
    print "Airport:%s" %(airport)
    print val['pax'].sum()
    if (i==5) : break

Airport:AAE
2
Airport:AAL
16
Airport:AAQ
5
Airport:AAR
4
Airport:ABE
16
Airport:ABJ
21

In [133]:
b.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [137]:
topairports = b[b['year']==2013\
               [['arr_port','pas']]\
               .dropna()\
               .groupby(['arr_port'])\
               .sum()\
               .sort_values('pax', ascending =False)
               .head(10)]

KeyError: 'year'

##  5. ADJUST THE WORK WITH BIG DATA

In [ ]:
# What dowe have so far

In [235]:
import pandas as pd

In [236]:
!ls

Amadeus.ipynb		 city_code_table.html  orange_point.png
black_marker.png	 cyan_marker.png       point.png
black_point.png		 cyan_point.png        purple_marker.png
blue_marker.png		 example_map.html      purple_point.png
blue_point.png		 example_map.json      red_marker.png
bookings.csv		 example_table.html    red_point.png
bookings.csv.bz2	 green_marker.png      searches.csv
bookings.sample.csv	 green_point.png       searches.csv.bz2
bookings.sample.csv.bz2  map.js		       table.js
city_code_map.html	 marker.png	       yellow_marker.png
city_code_map.json	 orange_marker.png     yellow_point.png

In [251]:
path = '/home/dsc/Amadeus'
file_name = 'bookings.csv.bz2'
filepath = path+ '/' + file_name

In [252]:
bc = pd.read_csv(filepath, sep="^", usecols=['arr_port','pax','year'], chunksize = 80000)

In [253]:
type(bc)

pandas.io.parsers.TextFileReader

In [254]:
for i, chunk in enumerate(bc):
    print i 
    chunk=chunk.dropna()
    print len(chunk)

0
80000
1
80000
2
80000
3
80000
4
80000
5
80000
6
80000
7
80000
8
80000
9
80000
10
80000
11
80000
12
80000
13
80000
14
80000
15
80000
16
80000
17
80000
18
80000
19
80000
20
80000

KeyboardInterrupt:

In [241]:
# ME PERRRDIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

In [242]:
type(bc)

pandas.io.parsers.TextFileReader

In [261]:
for i, chunk in enumerate(bc):
    print "Chunk number %d has size :%d"%(i, len(chunk))
    b=chunk.dropna()
    b=b[b['year']==2013]
    b.drop('year', axis=1, inplace=True)
    arr_ports=b.groupby('arr_port').sum().reset_index()
    all_chunks=all_chunks.append(arr_ports)
    
    allairports=all_chunks.groupby('arr_port')\
    .pax.sum().reset_index().sort_values('pax', ascending=False)
    
    topairports=allairports.head(10)

Chunk number 0 has size :80000
Chunk number 1 has size :80000
Chunk number 2 has size :80000
Chunk number 3 has size :80000
Chunk number 4 has size :80000
Chunk number 5 has size :80000
Chunk number 6 has size :80000
Chunk number 7 has size :80000
Chunk number 8 has size :80000
Chunk number 9 has size :80000
Chunk number 10 has size :80000
Chunk number 11 has size :80000
Chunk number 12 has size :80000
Chunk number 13 has size :80000
Chunk number 14 has size :80000
Chunk number 15 has size :80000
Chunk number 16 has size :80000
Chunk number 17 has size :80000
Chunk number 18 has size :80000
Chunk number 19 has size :80000
Chunk number 20 has size :80000
Chunk number 21 has size :80000
Chunk number 22 has size :80000
Chunk number 23 has size :80000
Chunk number 24 has size :80000
Chunk number 25 has size :80000
Chunk number 26 has size :80000
Chunk number 27 has size :80000
Chunk number 28 has size :80000
Chunk number 29 has size :80000
Chunk number 30 has size :80000
Chunk number 31 has size :80000
Chunk number 32 has size :80000
Chunk number 33 has size :80000
Chunk number 34 has size :80000
Chunk number 35 has size :80000
Chunk number 36 has size :80000
Chunk number 37 has size :80000
Chunk number 38 has size :80000
Chunk number 39 has size :80000
Chunk number 40 has size :80000
Chunk number 41 has size :80000
Chunk number 42 has size :80000
Chunk number 43 has size :80000
Chunk number 44 has size :80000
Chunk number 45 has size :80000
Chunk number 46 has size :80000
Chunk number 47 has size :80000
Chunk number 48 has size :80000
Chunk number 49 has size :80000
Chunk number 50 has size :80000
Chunk number 51 has size :80000
Chunk number 52 has size :80000
Chunk number 53 has size :80000
Chunk number 54 has size :80000
Chunk number 55 has size :80000
Chunk number 56 has size :80000
Chunk number 57 has size :80000
Chunk number 58 has size :80000
Chunk number 59 has size :80000
Chunk number 60 has size :80000
Chunk number 61 has size :80000
Chunk number 62 has size :80000
Chunk number 63 has size :80000
Chunk number 64 has size :80000
Chunk number 65 has size :80000
Chunk number 66 has size :80000
Chunk number 67 has size :80000
Chunk number 68 has size :80000
Chunk number 69 has size :80000
Chunk number 70 has size :80000
Chunk number 71 has size :80000
Chunk number 72 has size :80000
Chunk number 73 has size :80000
Chunk number 74 has size :80000
Chunk number 75 has size :80000
Chunk number 76 has size :80000
Chunk number 77 has size :80000
Chunk number 78 has size :80000
Chunk number 79 has size :80000
Chunk number 80 has size :80000
Chunk number 81 has size :80000
Chunk number 82 has size :80000
Chunk number 83 has size :80000
Chunk number 84 has size :80000
Chunk number 85 has size :10

In [262]:
type(topairports)

pandas.core.frame.DataFrame

In [248]:
from GeoBases import GeoBase

In [249]:
geoDict = GeoBase(data='ori_por', verbose=False)

In [250]:
geoDict.get('LHR','name')

'London Heathrow Airport'

In [ ]:
#algo que no tiene nada que ver

In [221]:
geo_o = GeoBase(data='ori_por', verbose=False)

In [222]:
geo_t = GeoBase(data='stations', verbose=False)

In [223]:
geo_a = GeoBase(data='airports', verbose=False)

In [269]:
geo_t.visualize()

* Added lines for duplicates linking, total 0
* Could not detect geocode support in join fields.
> Affecting category None     to color blue    | volume 3190

* Now you may use your browser to visualize:
./example_map.html ./example_table.html

* If you want to clean the temporary files:
rm ./example_map.json ./red_marker.png ./blue_point.png ./blue_marker.png ./cyan_marker.png ./marker.png ./orange_point.png ./green_point.png ./orange_marker.png ./red_point.png ./yellow_marker.png ./yellow_point.png ./black_marker.png ./purple_point.png ./black_point.png ./point.png ./cyan_point.png ./purple_marker.png ./map.js ./green_marker.png ./table.js ./example_map.html ./example_table.html

(['map', 'table'],
 (['./example_map.html', './example_table.html'],
  ['./example_map.json',
   './red_marker.png',
   './blue_point.png',
   './blue_marker.png',
   './cyan_marker.png',
   './marker.png',
   './orange_point.png',
   './green_point.png',
   './orange_marker.png',
   './red_point.png',
   './yellow_marker.png',
   './yellow_point.png',
   './black_marker.png',
   './purple_point.png',
   './black_point.png',
   './point.png',
   './cyan_point.png',
   './purple_marker.png',
   './map.js',
   './green_marker.png',
   './table.js']))

In [268]:
!ls

Amadeus.ipynb		 city_code_table.html  orange_point.png
black_marker.png	 cyan_marker.png       point.png
black_point.png		 cyan_point.png        purple_marker.png
blue_marker.png		 example_map.html      purple_point.png
blue_point.png		 example_map.json      red_marker.png
bookings.csv		 example_table.html    red_point.png
bookings.csv.bz2	 green_marker.png      searches.csv
bookings.sample.csv	 green_point.png       searches.csv.bz2
bookings.sample.csv.bz2  map.js		       table.js
city_code_map.html	 marker.png	       yellow_marker.png
city_code_map.json	 orange_marker.png     yellow_point.png

In [ ]:
#seguimos

In [257]:
list(topairports['arr_port'])

['LHR     ',
 'MCO     ',
 'LAX     ',
 'LAS     ',
 'JFK     ',
 'CDG     ',
 'BKK     ',
 'SFO     ',
 'MIA     ',
 'DXB     ']

In [263]:
topairports['Airport Name']=topairports.arr_port.map(lambda x: geoDict.get(x.strip())['name'])

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [264]:
topairports.head()

      arr_port    pax                          Airport Name
1088  LHR       71578               London Heathrow Airport
1190  MCO       57189         Orlando International Airport
1050  LAX       57074     Los Angeles International Airport
1047  LAS       56320       Mc Carran International Airport
886   JFK       53468  John F Kennedy International Airport

AttributeError: 'DataFrame' object has no attribute 'visualize'