# WEB SERVICE

In [ ]:
#http://flask.pocoo.org/docs/0.10/quickstart

In [1]:
from flask import Flask

In [3]:
app=Flask("My first web service")
@app.route('/hello', methods=['GET'])
def get_hello():
    return "Hello, what a nice"

In [4]:
app.run()

In [6]:
del app

In [7]:
ls -l

total 1018672
-rw-rw-r--. 1 dsc dsc      1364 May  7 09:37 2- 07_05_2016 AMADEUS CHALLENGE.ipynb
-rw-rw-r--. 1 dsc dsc     45564 May  7 09:29 all_airports.csv
-rw-rw-r--. 1 dsc dsc    116338 May  6 21:55 Amadeus.ipynb
-rw-rw-r--. 1 dsc dsc 554970628 May  6 16:33 bookings.csv.bz2
-rw-rw-r--. 1 dsc dsc   4232732 May  6 17:37 bookings.sample.csv
-rw-rw-r--. 1 dsc dsc    535893 May  6 17:26 bookings.sample.csv.bz2
drwxrwxr-x. 2 dsc dsc      4096 May  7 09:30 Map/
-rw-rw-r--. 1 dsc dsc 483188920 May  6 16:32 searches.csv.bz2

In [8]:
import pandas as pd

In [9]:
all_airports=pd.read_csv('./all_airports.csv', sep="^")

In [11]:
all_airports.head()

  arr_port   pax                          Airport Name
0      LHR  1006               London Heathrow Airport
1      MCO   861         Orlando International Airport
2      JFK   795  John F Kennedy International Airport
3      LAX   761     Los Angeles International Airport
4      BKK   747                          Suvarnabhumi

In [12]:
all_airports.head(10).to_json()

'{"arr_port":{"0":"LHR","1":"MCO","2":"JFK","3":"LAX","4":"BKK","5":"LAS","6":"SFO","7":"ORD","8":"CDG","9":"DXB"},"pax":{"0":1006,"1":861,"2":795,"3":761,"4":747,"5":732,"6":705,"7":686,"8":676,"9":587},"Airport Name":{"0":"London Heathrow Airport","1":"Orlando International Airport","2":"John F Kennedy International Airport","3":"Los Angeles International Airport","4":"Suvarnabhumi","5":"Mc Carran International Airport","6":"San Francisco International Airport","7":"Chicago O\'Hare International Airport","8":"Paris - Charles-de-Gaulle","9":"Dubai International Airport"}}'

#### Para ver bien el formato del json usar pagínas como 
https://jsonformatter.curiousconcept.com

In [16]:
app=Flask("Top10")
@app.route('/hello', methods=['GET'])
def get_hello():
    return "Hello, what a nice"

@app.route('/Top10', methods=['GET'])
def get_o():
    return all_airports.head(10).to_json()

In [14]:
app.run()

In [17]:
del app

In [43]:
app2=Flask("Top10")

@app2.route('/top<int:n>', methods=['GET'])
def get_hello(n):
    return all_airports.head(n).to_json()

@app2.route('/top10', methods=['GET'])
def get_o():
    return ll_airports.head(10).to_json()

In [44]:
app2.run()

In [42]:
del app2

In [45]:
top=pd.read_json('http://127.0.0.1:5000/top3')

URLError: <urlopen error [Errno 111] Connection refused>

In [ ]:
top.head()

In [49]:
# En otronotebook ejecutamos 
# top=pd.read_json('http://127.0.0.1:5000/top3')
# no se puede tener dos procesos ejecutando a la vez. aqui se queda arranco el web service con app2.run

## Plot the monthly number of searches for flights arriving at Málaga, Madrid or Barcelona

##### For the arriving airport, you can use the Destination column in the seraches file.

##### Plot a curve for Málaga, another one for Madrid, an andother one for Barcelona, in the same figure.

In [51]:
pwd

u'/home/dsc/Amadeus'

In [52]:
ll

total 1018692
-rw-rw-r--. 1 dsc     18539 May  7 10:36 2- 07_05_2016 AMADEUS CHALLENGE.ipynb
-rw-rw-r--. 1 dsc     45564 May  7 09:29 all_airports.csv
-rw-rw-r--. 1 dsc    116338 May  6 21:55 Amadeus.ipynb
-rw-rw-r--. 1 dsc 554970628 May  6 16:33 bookings.csv.bz2
-rw-rw-r--. 1 dsc   4232732 May  6 17:37 bookings.sample.csv
-rw-rw-r--. 1 dsc    535893 May  6 17:26 bookings.sample.csv.bz2
drwxrwxr-x. 2 dsc      4096 May  7 09:30 Map/
-rw-rw-r--. 1 dsc      2553 May  7 10:31 Read_web_service.ipynb
-rw-rw-r--. 1 dsc 483188920 May  6 16:32 searches.csv.bz2

In [53]:
!bzcat ./searches.csv.bz2 | head -100000 > searches.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ./searches.csv.bz2, output file = (stdout)

In [54]:
ll

total 1036492
-rw-rw-r--. 1 dsc     19966 May  7 10:38 2- 07_05_2016 AMADEUS CHALLENGE.ipynb
-rw-rw-r--. 1 dsc     45564 May  7 09:29 all_airports.csv
-rw-rw-r--. 1 dsc    116338 May  6 21:55 Amadeus.ipynb
-rw-rw-r--. 1 dsc 554970628 May  6 16:33 bookings.csv.bz2
-rw-rw-r--. 1 dsc   4232732 May  6 17:37 bookings.sample.csv
-rw-rw-r--. 1 dsc    535893 May  6 17:26 bookings.sample.csv.bz2
drwxrwxr-x. 2 dsc      4096 May  7 09:30 Map/
-rw-rw-r--. 1 dsc      2553 May  7 10:31 Read_web_service.ipynb
-rw-rw-r--. 1 dsc 483188920 May  6 16:32 searches.csv.bz2
-rw-rw-r--. 1 dsc  18225475 May  7 10:38 searches.sample.csv

In [62]:
searches = pd.read_csv('searches.csv.bz2', sep='^',usecols = ['Date','Destination'], nrows='100000')

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [67]:
searches = pd.read_csv('searches.csv.bz2', sep='^',usecols = ['Date','Destination'], nrows=500000)

In [59]:
pd.set_option('display.max_columns', None)

In [68]:
searches.sample()

              Date Destination
475139  2013-04-27         YUL

In [69]:
searches = searches.dropna()

In [71]:
sFilter = searches[searches['Destination'].isin(['MAD','BCN','AGP'])]
#sFilter = searches[searches['Destination']== MAD |\
#                   searches['Destination']== BCN | searches['Destination']== AG]

In [73]:
sFilter.head(5)

           Date Destination
4    2013-01-01         MAD
93   2013-01-01         AGP
113  2013-01-01         BCN
147  2013-01-01         AGP
151  2013-01-01         MAD

In [81]:
sGroup = sFilter.groupby(['Date','Destination'])

In [82]:
sGroup.count()

Empty DataFrame
Columns: []
Index: [(2013-01-01, AGP), (2013-01-01, BCN), (2013-01-01, MAD), (2013-01-02, AGP), (2013-01-02, BCN), (2013-01-02, MAD), (2013-01-03, AGP), (2013-01-03, BCN), (2013-01-03, MAD), (2013-01-04, AGP), (2013-01-04, BCN), (2013-01-04, MAD), (2013-01-05, AGP), (2013-01-05, BCN), (2013-01-05, MAD), (2013-01-06, AGP), (2013-01-06, BCN), (2013-01-06, MAD), (2013-01-07, AGP), (2013-01-07, BCN), (2013-01-07, MAD), (2013-01-08, AGP), (2013-01-08, BCN), (2013-01-08, MAD), (2013-01-09, AGP), (2013-01-09, BCN), (2013-01-09, MAD), (2013-01-10, AGP), (2013-01-10, BCN), (2013-01-10, MAD), (2013-01-11, AGP), (2013-01-11, BCN), (2013-01-11, MAD), (2013-01-12, AGP), (2013-01-12, BCN), (2013-01-12, MAD), (2013-01-13, AGP), (2013-01-13, BCN), (2013-01-13, MAD), (2013-01-14, AGP), (2013-01-14, BCN), (2013-01-14, MAD), (2013-01-15, AGP), (2013-01-15, BCN), (2013-01-15, MAD), (2013-01-16, AGP), (2013-01-16, BCN), (2013-01-16, MAD), (2013-01-17, AGP), (2013-01-17, BCN), (2013-01-17, MAD), (2013-01-18, AGP), (2013-01-18, BCN), (2013-01-18, MAD), (2013-01-19, AGP), (2013-01-19, BCN), (2013-01-19, MAD), (2013-01-20, AGP), (2013-01-20, BCN), (2013-01-20, MAD), (2013-01-21, AGP), (2013-01-21, BCN), (2013-01-21, MAD), (2013-01-22, AGP), (2013-01-22, BCN), (2013-01-22, MAD), (2013-01-23, AGP), (2013-01-23, BCN), (2013-01-23, MAD), (2013-01-24, AGP), (2013-01-24, BCN), (2013-01-24, MAD), (2013-01-25, AGP), (2013-01-25, BCN), (2013-01-25, MAD), (2013-01-26, AGP), (2013-01-26, BCN), (2013-01-26, MAD), (2013-01-27, AGP), (2013-01-27, BCN), (2013-01-27, MAD), (2013-01-28, AGP), (2013-01-28, BCN), (2013-01-28, MAD), (2013-01-29, AGP), (2013-01-29, BCN), (2013-01-29, MAD), (2013-01-30, AGP), (2013-01-30, BCN), (2013-01-30, MAD), (2013-01-31, AGP), (2013-01-31, BCN), (2013-01-31, MAD), (2013-02-01, AGP), (2013-02-01, BCN), (2013-02-01, MAD), (2013-02-02, AGP), (2013-02-02, BCN), (2013-02-02, MAD), (2013-02-03, AGP), ...]

[1075 rows x 0 columns]

In [86]:
searches.dtypes

Date           object
Destination    object
dtype: object

In [87]:
 searches2 = pd.read_csv('searches.csv.bz2', sep='^',usecols = ['Date','Destination'], parse_dates = ['Date'], nrows=500000)

In [88]:
searches2.dtypes

Date           datetime64[ns]
Destination            object
dtype: object

In [89]:
sFilter2 = searches2[searches2['Destination'].isin(['MAD','BCN','AGP'])]

In [ ]:
#Otra manera
#sFilter['Date']= pd.to_datetime(sFilter.Date)

In [ ]:
sFilter2(

In [90]:
sFilter2['year'] = sFilter2['Date'].dt.year

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [96]:
sFilter2['month'] = sFilter2['Date'].dt.month

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [95]:
sFilter2.dtypes

Date           datetime64[ns]
Destination            object
year                    int64
dtype: object

In [161]:
sFilter2.sample()

             Date Destination  year  month
243618 2013-09-01         MAD  2013      9

In [105]:
cols = sFilter2.columns

In [111]:
SFilter3 = sFilter2.drop('Date', axis = 1)

In [125]:
SFilter3['values'] = 1

In [142]:
type(SFilter3)

pandas.core.frame.DataFrame

In [148]:
SFilter3.sort(columns='year')

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

       Destination  year  month  values
4              MAD  2013      1       1
337858         MAD  2013     12       1
337905         BCN  2013     12       1
337919         MAD  2013     12       1
337979         MAD  2013     12       1
338008         MAD  2013     12       1
338016         MAD  2013     12       1
338031         BCN  2013     12       1
338130         BCN  2013     12       1
338140         BCN  2013     12       1
338143         MAD  2013     12       1
338224         MAD  2013     12       1
338271         BCN  2013     12       1
338296         BCN  2013     12       1
338306         MAD  2013     12       1
338355         AGP  2013     12       1
338360         BCN  2013     12       1
338398         MAD  2013     12       1
338427         BCN  2013     12       1
338477         BCN  2013     12       1
338508         BCN  2013     12       1
338635         MAD  2013     12       1
338636         MAD  2013     12       1
338658         MAD  2013     12       1
338662         MAD  2013     12       1
338691         MAD  2013     12       1
338717         MAD  2013     12       1
338729         BCN  2013     12       1
338762         MAD  2013     12       1
338791         MAD  2013     12       1
...            ...   ...    ...     ...
153163         BCN  2013      6       1
153192         BCN  2013      6       1
153198         MAD  2013      6       1
153214         AGP  2013      6       1
153254         AGP  2013      6       1
153368         BCN  2013      6       1
153415         MAD  2013      6       1
153473         BCN  2013      6       1
153579         BCN  2013      6       1
153585         BCN  2013      6       1
153595         BCN  2013      6       1
153617         BCN  2013      6       1
153025         MAD  2013      6       1
153738         BCN  2013      6       1
153744         BCN  2013      6       1
153746         MAD  2013      6       1
153861         AGP  2013      6       1
153921         BCN  2013      6       1
153931         BCN  2013      6       1
154007         BCN  2013      6       1
154021         BCN  2013      6       1
154060         AGP  2013      6       1
154094         BCN  2013      6       1
154109         MAD  2013      6       1
154129         AGP  2013      6       1
154137         BCN  2013      6       1
154169         AGP  2013      6       1
154190         MAD  2013      6       1
153739         BCN  2013      6       1
499999         BCN  2013      5       1

[17106 rows x 4 columns]

In [155]:
SFilter3.reset_index()  #no necesario

        index Destination  year  month  values
0           4         MAD  2013      1       1
1          93         AGP  2013      1       1
2         113         BCN  2013      1       1
3         147         AGP  2013      1       1
4         151         MAD  2013      1       1
5         165         BCN  2013      1       1
6         177         BCN  2013      1       1
7         186         BCN  2013      1       1
8         188         BCN  2013      1       1
9         208         BCN  2013      1       1
10        229         BCN  2013      1       1
11        242         AGP  2013      1       1
12        253         BCN  2013      1       1
13        322         BCN  2013      1       1
14        365         BCN  2013      1       1
15        375         MAD  2013      1       1
16        406         MAD  2013      1       1
17        458         AGP  2013      1       1
18        481         BCN  2013      1       1
19        500         BCN  2013      1       1
20        509         MAD  2013      1       1
21        541         BCN  2013      1       1
22        593         BCN  2013      1       1
23        606         MAD  2013      1       1
24        618         BCN  2013      1       1
25        623         BCN  2013      1       1
26        628         BCN  2013      1       1
27        633         BCN  2013      1       1
28        641         BCN  2013      1       1
29        674         AGP  2013      1       1
...       ...         ...   ...    ...     ...
17076  499426         MAD  2013      5       1
17077  499427         MAD  2013      5       1
17078  499439         MAD  2013      5       1
17079  499454         AGP  2013      5       1
17080  499456         BCN  2013      5       1
17081  499468         MAD  2013      5       1
17082  499475         MAD  2013      5       1
17083  499477         MAD  2013      5       1
17084  499518         AGP  2013      5       1
17085  499572         BCN  2013      5       1
17086  499596         BCN  2013      5       1
17087  499628         MAD  2013      5       1
17088  499636         MAD  2013      5       1
17089  499655         BCN  2013      5       1
17090  499674         BCN  2013      5       1
17091  499690         MAD  2013      5       1
17092  499693         MAD  2013      5       1
17093  499708         BCN  2013      5       1
17094  499711         MAD  2013      5       1
17095  499745         MAD  2013      5       1
17096  499777         MAD  2013      5       1
17097  499797         MAD  2013      5       1
17098  499812         MAD  2013      5       1
17099  499863         BCN  2013      5       1
17100  499892         MAD  2013      5       1
17101  499896         BCN  2013      5       1
17102  499948         BCN  2013      5       1
17103  499979         MAD  2013      5       1
17104  499984         MAD  2013      5       1
17105  499999         BCN  2013      5       1

[17106 rows x 5 columns]

In [156]:
sGroup2 = SFilter3.groupby(['year','month','Destination'])

In [157]:
sGroup2.head()

       Destination  year  month  values
4              MAD  2013      1       1
93             AGP  2013      1       1
113            BCN  2013      1       1
147            AGP  2013      1       1
151            MAD  2013      1       1
165            BCN  2013      1       1
177            BCN  2013      1       1
186            BCN  2013      1       1
188            BCN  2013      1       1
242            AGP  2013      1       1
375            MAD  2013      1       1
406            MAD  2013      1       1
458            AGP  2013      1       1
509            MAD  2013      1       1
674            AGP  2013      1       1
31002          BCN  2013      2       1
31025          BCN  2013      2       1
31043          MAD  2013      2       1
31071          BCN  2013      2       1
31074          BCN  2013      2       1
31085          BCN  2013      2       1
31097          MAD  2013      2       1
31209          AGP  2013      2       1
31308          MAD  2013      2       1
31332          MAD  2013      2       1
31334          AGP  2013      2       1
31351          AGP  2013      2       1
31422          MAD  2013      2       1
31468          AGP  2013      2       1
31990          AGP  2013      2       1
...            ...   ...    ...     ...
304034         BCN  2013     11       1
304052         BCN  2013     11       1
304191         BCN  2013     11       1
304253         BCN  2013     11       1
304273         BCN  2013     11       1
304353         MAD  2013     11       1
304365         MAD  2013     11       1
304680         AGP  2013     11       1
304735         MAD  2013     11       1
304768         MAD  2013     11       1
304849         MAD  2013     11       1
305549         AGP  2013     11       1
305824         AGP  2013     11       1
305836         AGP  2013     11       1
305882         AGP  2013     11       1
334035         MAD  2013     12       1
334112         BCN  2013     12       1
334114         AGP  2013     12       1
334154         MAD  2013     12       1
334163         MAD  2013     12       1
334170         MAD  2013     12       1
334208         BCN  2013     12       1
334272         BCN  2013     12       1
334415         MAD  2013     12       1
334446         BCN  2013     12       1
334554         BCN  2013     12       1
334696         AGP  2013     12       1
334738         AGP  2013     12       1
335927         AGP  2013     12       1
336179         AGP  2013     12       1

[180 rows x 4 columns]

In [143]:
type(sGroup2 )

pandas.core.groupby.DataFrameGroupBy

In [217]:
SFilter4 =SFilter3.groupby(['year','month','Destination']).sum()

In [218]:
SFilter4.head()

                        values
year month Destination
2013 1     AGP             338
           BCN            1034
           MAD             850
     2     AGP             294
           BCN             994

In [221]:
SFilter4['year'] = SFilter4 ['year'].astype(str)

In [223]:
SFilter4['month'] = SFilter4 ['month'].astype(str)

In [227]:
SFilter4['Date'] = SFilter4.year + SFilter4.month

In [232]:
SFilter4 = SFilter4.drop(['year','month'], axis = 1)

In [233]:
SFilter4.head()

  Destination  values   Date
0         AGP     338  20131
1         BCN    1034  20131
2         MAD     850  20131
3         AGP     294  20132
4         BCN     994  20132

In [235]:
cols = SFilter4.columns

In [238]:
cols[:2]

Index([u'Destination', u'values'], dtype='object')

In [241]:
cols = cols[2:] + cols[:2]

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: using '+' to provide set union with Indexes is deprecated, use '|' or .union()
  if __name__ == '__main__':

In [ ]:
#punto muerto volvemos con sFilter2.sample()

In [243]:
SFilter5 = SFilter4[cols]

In [252]:
SFilter5.sort(columns = ['Date', 'Destination'], ascending= False).groupby('Date')

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':